body{
 font-family: Arial, sans-serif;
 margin: 20px;
}

p{
    position: relative; 
    left: 0vw; 
    top: 5vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

p2{
    position: relative; 
    left: 30vw; 
    top: -5vw;
    max-width: 2500px;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}

p3{
    position: relative; 
    top: 40em;
}